{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
{% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}



<div class="connexion">
    <div class="formulaireConnexion">
        <h1>
            Inscription
            <span class="bordureConnexion"></span>
        </h1>

        {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        <div class="dateNaissance">
            {{ form_row(registrationForm.date_naissance) }}
        </div>
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        <div class="agreeTerms">
            {{ form_row(registrationForm.agreeTerms) }}
        </div>

        <div class="btnConnexion">
            <button type="submit" class="btn">S'inscrire</button>
        </div>
        {{ form_end(registrationForm) }}
    </div>
</div>




{% endblock %}