<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site du Premier{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/nexus.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css')}}">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css')}}">


    <link rel="stylesheet" href="../public/assets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>

<body>
    <div id="hornav" class="container no-padding">
        <div class="row">
            <div class="col-md-12 no-padding">
                <div class="text-center visible-lg">
                    <ul id="hornavmenu" class="nav navbar-nav">
                        <li>
                            <span class="fa-home">Nos formations</span>
                            <ul>

                                {% for unLangage in langages %}
                                <li class="parent"><span>{{ unLangage.nom }}</span>

                                </li>
                                {% endfor %}



                                <li class="parent">
                                    <span>Typography</span>
                                    <ul>
                                        <li>
                                            <a href="features-typo-basic.html">Basic Typography</a>
                                        </li>
                                        <li>
                                            <a href="features-typo-blockquotes.html">Blockquotes</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="parent">
                                    <span>Components</span>
                                    <ul>
                                        <li>
                                            <a href="features-labels.html">Labels</a>
                                        </li>
                                        <li>
                                            <a href="features-progress-bars.html">Progress Bars</a>
                                        </li>
                                        <li>
                                            <a href="features-panels.html">Panels</a>
                                        </li>
                                        <li>
                                            <a href="features-pagination.html">Pagination</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="parent">
                                    <span>Icons</span>
                                    <ul>
                                        <li>
                                            <a href="features-icons.html">Icons General</a>
                                        </li>
                                        <li>
                                            <a href="features-icons-social.html">Social Icons</a>
                                        </li>
                                        <li>
                                            <a href="features-icons-font-awesome.html">Font Awesome</a>
                                        </li>
                                        <li>
                                            <a href="features-icons-glyphicons.html">Glyphicons</a>
                                        </li>










                                    </ul>
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="index.html" class="fa-home">Qui sommes-nous ?</a>
                        </li>
                        <li>
                            <span class="fa-font">Blog</span>
                            <input type="button" value="conn">
                            <input type="text" name="" id="rechercheFormation">
                        </li>
                        <li>
                            <button>truc</button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block body %}{% endblock %}
    <div id="content-bottom-border" class="container">
        <div id="base">
            <div class="container padding-vert-30 margin-top-60">
                <div class="row">
                    <div class="col-md-4 margin-bottom-20">
                        <h3 class="margin-bottom-10"><a href="#" target="_blank">Mentions légales</a></h3>
                    </div>
                    <div class="col-md-3 margin-bottom-20">
                        <h3 class="margin-bottom-10"><a href="#" target="_blank">Conditions générales d'utilisation</a>
                        </h3>
                    </div>
                    <div class="col-md-2 margin-bottom-20">
                        <h3 class="margin-bottom-10"><a href="#" target="_blank">Développé par</a></h3>
                    </div>
                </div>
            </div>

        </div>




    </div>


</body>

</html>