<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Site du Premier{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/nexus.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/responsive.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}">

    <!-- Feuille de style Matteo -->
    <link rel="stylesheet" href="{{ asset('assets/css/app.css') }}">


    <link rel="stylesheet" href="../public/assets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="../public/assets/css/custom.css" rel="stylesheet">

    <link rel="stylesheet" href="style.css">

    <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans" type="text/css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    
</head>

<body>
    <header>
        <div class="barreHeader">
            <ul>
                <li class="headerImg">
                    <a href="{{ path('app_index') }}">
                        <img src="/assets/img/nom_orange.png" alt="">
                    </a>
                </li>
    
                <li class="formationsListe">
                    <span class="fa-code">Nos formations</span>
                    <ul>
                        {% for unLangage in langages %}
                            <li class="parent">
                                <span>{{ unLangage.nom }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
    
                <li>
                    <a href="index.html">Qui sommes-nous ?</a>
                </li>
    
                <li class="headerSearch">
                    <input type="text" name="" id="rechercheFormation" placeholder="Rechercher">
                    <button type="submit">
                        <img src="/assets/img/loupe_noire.png" alt="">
                    </button>
                </li>
    
    
                <li class="headerConnexion">
                    {% if app.user %}
                        <a href="">Mon compte</a>
                        <a href="{{ path('app_logout') }}">Se deconnecter</a>
                    {% else %}
                        <a href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </li>
    
    
            </ul>
        </div>
    </header>
    
    {% block body %}{% endblock %}
    
    <footer>
        <div class="bandeauBas">
            <div class="logoBas">
                <img src="/assets/img/logoBas.png" alt="">
            </div>
    
            <div class="reseaux">
                <ul>
                    <li class="discord">
                        <img src="/assets/img/RSN/discord.svg" alt="">
                    </li>
                    <li class="twitter">
                        <img src="/assets/img/RSN/twitter.svg" alt="">
                    </li>
                    <li class="facebook">
                        <img src="/assets/img/RSN/facebook.svg" alt="">
                    </li>
                    <li class="youtube">
                        <img src="/assets/img/RSN/youtube.svg" alt="">
                    </li>
                </ul>
            </div>
    
            <div class="liensBas">
                <ul>
                    <li>
                        <a href="#">Mentions légales</a>
                    </li>
                    <li>
                        <a href="#">Conditions générales d'utilisation</a>
                    </li>
                    <li>
                        Développé par la team <span class="teamName">MGM</span>
                    </li>
                </ul>
            </div>
        </div>
    
    </footer>
    </body>

</html>